$background-color: #E3E2DF;
$text-color: #1A1A1D;

.about {
  font-family: 'PT Sans', sans-serif !important;
  display: flex;
  flex-direction: column;

  border-color: red;
  // border-style: dashed;
  margin-top: 7em;
  z-index: 1;

  #profile-pic {
    display: block;
    margin: auto;

    border-color: black;
    // border-style: double;
    width: 10em;
  }
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    // z-index: 1;
    // margin-top: 0%;
    // margin-bottom: 0%;
    // height: 3em;
    // margin: auto;
    line-height: 0.1em;
    font-weight: 700;
    font-size: 35px;
    border-color: green;
    // border-style: dashed;
    .hello {
      border-color: gold;
      // border-style: dotted;
    }
  }
  .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 400;
    font-size: 30px;
    // height: -20px;
    // padding-top: -5em;
    // margin-top: -20em;
    // position: relative;
    // padding-top: -50em;
    border-color: gold;
    // border-style: dotted;
  }
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  max-width: 65%;
  margin:auto;
  line-height: 1.6;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.social--icon {
  display: flex;
  // flex-direction: row;
  max-width: 1%;
}