$background-color: #E3E2DF;
$text-color: #1A1A1D;

.about {
  font-family: 'PT Sans', sans-serif;
  display: flex;
  flex-direction: column;

  border-color: red;
  border-style: dashed;
  margin-top: 1em;

  #profile-pic {
    display: block;
    margin: auto;

    border-color: black;
    border-style: double;
    width: 10em;
  }
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    // margin-top: 0%;
    // margin-bottom: 0%;
    // height: 3em;
    // margin: auto;
    line-height: 0.1em;
    font-weight: 100;
    font-size: 30px;
    border-color: green;
    border-style: dashed;
    .hello {
      border-color: gold;
      border-style: dotted;
    }
  }
  .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 700;
    font-size: 35px;
    // padding-top: -5em;
    // margin-top: -20em;
    // position: relative;
    // padding-top: -50em;
    border-color: gold;
    border-style: dotted;
  }
}

.summary {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

  // .full-name {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: center;
  //   // justify-content: space-around;
  //   color: $text-color;
  //   // width: 100%;
  //   border-color: aqua;
  //   border-style: dashed;
  //   font-weight: 700;
  // }
  
  // .first-name {
  //   padding-right: 0.3em;
  // }
