$background-color: #E3E2DF;
$text-color: #1A1A1D;

.about {
  font-family: 'PT Sans', sans-serif;
  display: flex;
  flex-direction: column;

  border-color: red;
  border-style: dashed;
  margin-top: 1em;

  #profile-pic {
    display: block;
    margin: auto;

    border-color: black;
    border-style: double;
    width: 10em;
  }
}

.intro {
  display: flex;
  // flex-direction: row;
  justify-content: center;
  font-weight: 100;
  font-size: 30px;
  border-color: green;
  border-style: dashed;
  .full-name {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    border-color: blue;
    border-style: dashed;
  }
}

  // .full-name {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: center;
  //   // justify-content: space-around;
  //   color: $text-color;
  //   // width: 100%;
  //   border-color: aqua;
  //   border-style: dashed;
  //   font-weight: 700;
  // }
  
  // .first-name {
  //   padding-right: 0.3em;
  // }

  // .summary {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: center;
  // }


