body {
  overflow-x: hidden;
}

#projects > div {
  user-select: none;
  position: absolute;
  width: 100%;
  height: 65%;
  will-change: transform;
  background-color: #F3F3F3;
  // background-color: #AC3B61;
  margin: auto;
  padding-bottom: 2%;
}

#projects > div > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 40em;
  height: 70%;
  will-change: transform;
  box-shadow: 0 62.5px 125px -25px rgba(50, 50, 73, 0.5), 0 15.5px 15px -20.5px rgba(0, 0, 0, 0.6);
}

.project--name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project--description, .project--link {
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 65%;
  margin: auto;
  padding-bottom: 2%;
}

.nav--item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  width: 45px;
  padding-top: 2%;
  // padding-bottom: 2%;
}